<configuration>
    <appender name="console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{yyyy-MM-dd'T'HH:mm:ss.SSSZZZZ} %level %logger [%thread] %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="appender" class="me.karakelley.http.Appender"/>

    <appender name="appender" class="me.karakelley.http.Appender">
        <prefix>test</prefix>
    </appender>

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="appender" />
    </root>
</configuration>